body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url('images/map.jpeg');
    background-size: cover;
    perspective: 1000px; /* Ajout de la perspective */
}

header {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    text-align: center;
    transform-origin: center; /* Centrage de la transformation */
}

header button {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.water-effect {
    text-align: center;
    padding: 50px;
    background-color: rgba(255, 255, 255, 0.8);
    margin: 20px;
    border-radius: 10px;
    height: 600px;
}

.water-effect h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.water-effect button {
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    }

.layout, .info-block {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    margin: 20px;
    border-radius: 10px;
}

h {
    font-size: 24px;
    margin-bottom: 10px;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

p {
    font-size: 16px;
}
